.content-image {
	@include make-row();
	height: 100%;
}

.navbar {
	@include make-md-column(12);
	
	border-radius: 0;
	padding: 0;
	position: fixed;
	background-color: #828282; //fallback color
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	z-index: 99;
	
	.container-fluid {
		margin-left: 1.667em;
		margin-right: 1.667em;

		.navbar-brand {
			margin-left: 0;
		}
	}

	.navbar-header, 
	ul {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	a {	
		color: $opp-color;		
	}

	li {
		a:hover,
		a:focus {
			background-color: transparent;
			color: $main-color;
		}
	}
}

.icon-bar {
	background-color: $opp-color;
}


header, footer {
	@include make-md-column(12);
	
	padding: 0;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	background-image: url('../img/background-header.jpg');
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		margin-top: 0;
		text-align: center;
		color: $opp-color;
		text-shadow: 5px 5px 10px #000;
	}

	p:first-child {
		font-size: 3.333em;		
		text-transform: uppercase;
	}

	p:last-child {
		font-size: 2em;
		margin-bottom: 0;
	}
}

footer {
	background-image: url('../img/background-footer.jpg');
	
	h2 {
		padding-top: 70px;
		text-align: center;
		color: $opp-color;
	}

	form {
		margin: 0 2.777em;
		padding-top: 2.222em;
	}
	
	label {
		color: $opp-color;
	}

	.form-group {
		padding-bottom: 1.11em;
	}

	.form-control, 
	.btn-success {
		font-size: 1em;
		border: 2px solid $opp-color;
		background-color: rgba(0,0,0, 0.5);
		color: $opp-color;
	}

	.form1,
	.form2 {
		@include make-md-column(6);
	}

	.form3 {
		@include make-md-column(12);
	}

	.form3:last-child {
		text-align: center;
	}

	.btn-success {
		font-weight: bold;
		padding-left: 2.777em;
		padding-right: 2.777em;
		transition: all 0.2s linear;

		&:hover {
			border-color: $main-color;
			background-color: $main-color;
			color: $opp-color;
			transition: all 0.2s linear;
		}
	}

	
	.media {
		@include make-md-column(6);

		padding-left: 4.6428em;

		img {
			display: inline;
			-webkit-filter: grayscale(1);
  			filter: grayscale(1);
  			transition: all 0.2s linear;

  			&:hover {
  				-webkit-filter: grayscale(0);
  				filter: grayscale(0);
  				transition: all 0.2s linear;
  			}

  			&:last-child {
  				margin-left: 0.555em;
  			}
		}
	}

	.dev {
		@include make-md-column(6);

		padding-right: 4.6428em;
		text-align: right;
		font-size: 0.777em;
		color: $opp-color;
	}
}

//separar arquivo

.blog {
	margin: 0 2.777em;
	padding: 0 0.833em;
}

//
